[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/RohitMagdum-GSLab
[access "refs/for/refs/*"]
	read = group user/RohitMagdum-GSLab
	push = group user/RohitMagdum-GSLab
	label-Code-Review = -2..+2 group user/RohitMagdum-GSLab
	label-Verified = -1..+1 group user/RohitMagdum-GSLab
	rebase = group user/RohitMagdum-GSLab
	removeReviewer = group user/RohitMagdum-GSLab
	submit = group user/RohitMagdum-GSLab
[access "refs/heads/*"]
	read = group user/RohitMagdum-GSLab
	create = group user/RohitMagdum-GSLab
	push = +force group user/RohitMagdum-GSLab
	pushMerge = group user/RohitMagdum-GSLab
[access "refs/tags/*"]
	push = +force group user/RohitMagdum-GSLab
	pushTag = group user/RohitMagdum-GSLab
	pushSignedTag = group user/RohitMagdum-GSLab
